<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/navBar.css">
</head>
<body>
    <!-- componentes/header.html -->

<header class="header-wrapper">

    <div class="logo-container">
        <img src="../imgs/fondos/logo.png" class="logo-nav" onclick="window.location.href='/frontend/public/index.html'">
    </div>

    <nav class="nav-menu">
        <ul class="nav-list">
            <li><a href="/frontend/admin/usuarios.html">Usuarios</a></li>
            <li><a href="/frontend/admin/productos.html">Productos</a></li>
            <li><a href="/frontend/admin/ventas.html">Ventas</a></li>
        </ul>

        <div class="nav-user">
            <button id="btnLogout" class="btn-logout">Cerrar sesión</button>
        </div>
    </nav>

</header>



</body>
</html>