/* ======== TÍTULO ======== */
h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #111827;
}

/* Contenedor del título y botón */
h1{
    text-align: center;
}

/* Botón agregar */
.btn-agregar {
    padding: 10px 15px;
    background: #374151;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-agregar:hover {
    background: #1f2937;
}

/* ======== TABLA ======== */
table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #374151;
    color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

tbody tr:hover {
    background: #f3f4f6;
}

/* ======== BOTONES DE ACCIÓN ======== */
.btn-editar,
.btn-eliminar {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.btn-editar {
    background: #3b82f6;
}
.btn-editar:hover {
    background: #2563eb;
}

.btn-eliminar {
    background: #ef4444;
}
.btn-eliminar:hover {
    background: #dc2626;
}

/* ======== MODAL ======== */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal form {
    background: white;
    padding: 25px;
    width: 450px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
}

/* Inputs y selects */
.modal input,
.modal select {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    background: #f9fafb;
}

.modal input:focus,
.modal select:focus {
    border-color: #6b7280;
}

/* Botones */
.modal button {
    width: 100%;
    padding: 12px;
    background: #1f2937;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
}

.modal button:hover {
    background: #000;
}

.modal input,
.modal select,
.modal textarea {
    box-sizing: border-box;
}
