h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #111827;
}

/* GRÁFICO */
#graficoVentas {
    max-width: 900px;
    margin: 20px auto;
    display: block;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #374151;
    color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

tbody tr:hover {
    background: #f3f4f6;
}

/* BOTÓN DETALLE */
.btn-detalle {
    padding: 5px 10px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-detalle:hover {
    background: #2563eb;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 500px;
    border-radius: 12px;
}

.chart-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    border: 1px solid #e5e7eb;
}

/* Dale altura real al canvas */
#graficoVentas {
    height: 380px !important;
}


#tituloVentas {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1d1d1f;
}
